@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Forte Interative<br />
    301 Evernia Street, Suite 300<br />
    West Palm Beach, FL 33401<br />
    <abbr title="Phone">P:</abbr>
    561.833.4040
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@forteinteractive.com">Support@forteinteractive.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@forteinteractive.com">Marketing@forteinteractive.com</a>
</address>